body 
    {background-color: #EEEEEE
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #B7B78A;
    border-width: 5px;
    width: 50%;
}
h1 { color: #658864;}
h3 {color:  #658864;}

img {border-radius: 75%;}